*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
  }
  .topnav {
    overflow: hidden;
    background-color: rgb(87, 86, 86);
    position: relative;
  }
  
  /* Hide the links inside the navigation menu (except for logo/home) */
  .topnav #myLinks {
    display: none;
  }
  
  /* Style navigation menu links */
  .topnav a {
    color: white;
    padding: 10px 14px;
    text-decoration: none;
    font-size: 17px;
    display: block;
  }
  
  /* Style the hamburger menu */
  .topnav a.icon {
    background: black;
    display: block;
    position: absolute;
    right: 0;
    top: 0;
  }
  
  /* Add a grey background color on mouse-over */
  .topnav a:hover {
    background-color: rgb(233, 229, 220/0.825);
    color: rgb(236, 235, 235);
  }
  
  /* Style the active link (or home/logo) */
  .active {
    background-color: rgb(71,46,17/0.825);
    color: rgb(12, 12, 12);
  }
  section {
    position: relative;
    width: 100%;
    height:94vh;
    display: flex;
  } 
  section .image{
    position: relative;
    width: 50%;
    height:100%;
  }
  section .image img{
    left:0;
    position:relative;
    top:0;
    width:100%;
    height:100%;
    object-fit: cover;
  }
  section .content{
    display: flex;
    align-items: center;
    justify-content: center;
    width:50%;
    height: 100%;
  }
  section .content .formbox{
    width:50%;
  }
  section .content .formbox h2{
    color: rgb(71, 46, 17);
    font-weight: 600;
    font-size: 1.5rem;
    text-transform: uppercase;
    margin-top: 15px;
    margin-bottom: 10px;
    border-bottom: 4px solid rgb(43, 34, 10);
    display: inline-block;
    letter-spacing: 1px;
  }
  section .content .formbox input{
    margin-bottom: 6px;
  }
  section .content .formbox .input span{
    font-size: 16px;
    margin-bottom:5px;
    display:inline-block;
    color:rgb(73, 70, 70);
    font-weight: 300;
    letter-spacing: 1px;
  }
  section .content .formbox .input input{
    width:100%;
    padding:7px 20px;
    outline:none;
    font-weight: 400;
    border:1px solid rgb(43, 34, 10);
    font-size: 16px;
    letter-spacing: 1px;
    color: rgb(43, 34, 10);
    background: transparent;
    border-radius: 30px;
  }
  section .content .formbox .input input[type="submit"]{
    background:rgb(66, 35, 18) ;
    color: white;
    outline: none;
    border: none;
    cursor: pointer;
    margin-top: 3px;
  }
  section .content .formbox .input input[type="submit"]:hover{
    background:rgb(43, 23, 12) ;
  }
  section .content .formbox .input p{
    color:rgb(73, 70, 70);
  }
  section .content .formbox .input p a{
    color:rgb(48, 25, 13);
  }
  section .content .formbox h3{
    color:rgb(73, 70, 70);
    text-align: center;
    margin:40px 0 10px;
    font-weight: 500;
  }
  section .content .formbox .icons{
    display: flex;
    justify-content: center;
    align-items: center;
  }
  section .content .formbox .icons li{
       list-style: none;
       width: 55px;
       height: 55px;
       display: flex;
       justify-content: center;
       align-items: center;
       background:rgb(73, 70, 70) ;
       border-radius: 50%;
       margin: 0 4Apx;
       cursor: pointer;
  }
  section .content .formbox .icons li:hover{
    background: rgb(78, 47, 12);
  }
  @media (max-width:768px) {
    section{
      background-image: url('photos/img4.jpg');
      position: absolute;
      width: 100%;
      height:100%;
      top:0;
      left:0;
    }
    section .content{
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      height:100%;
      z-index: 1;
    }
    section .content .formbox{
      width:100%;
      padding:40px;
      margin: 50px;
      background: rgb(255 255 255/0.825);
    }
    section .content .formbox h2{
      color:rgb(48, 25, 13);
      text-align: center;
      margin: 30px 0 10px;
      font-weight: 500;
    }
  }